name: Sync to Public Repository

on:
  push:
    branches:
      - release

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Push to Public Repository
        env:
          PUBLIC_REPO_TOKEN: ${{ secrets.PUBLIC_REPO_TOKEN }}
        run: |
          git config --global user.email "p-nasimonan@gmail.com"
          git config --global user.name "p-nasimonan"

          git push https://p-nasimonan:${PUBLIC_REPO_TOKEN}@github.com/p-nasimonan/home-infra-public.git release:main --force